- flashcard = flashcarditem.first.flashcard


#flashcard-deck.col-lg-8.offset-lg-2.col-md-8.offset-md-2.col-sm-12.col-xs-12
  %h2
    = flashcard.title unless flashcarditem.blank?

  - flashcarditem.each_with_index do |item, index|
    - order = get_ordered_flashcard_sides item.flashcard
    .card{ class: ('d-none' unless index == 0), 'data-flashcarditem-id': "#{item.id}" }
      .card-header
        %h3.float-left
          = "Flashcard #{index + 1}"
          %small
            of
            = flashcarditem.count
        .float-right
          #toggle-sides.btn-group-toggle{"data-toggle" => "buttons"}
            - order.each_with_index do |label, i|         
              -if label.to_s == 'side'
                -if item.side.present?
                  %label{ class: "btn btn-xs btn-info #{ (i == 0) ? 'active' : '' } #{label}-btn" }
                    %input{type: 'radio', name: 'flashcard-sides', checked: (i == 0) ? true : '' }
                    = get_flashcard_label item, label
              -else
                %label{ class: "btn btn-xs btn-info #{ (i == 0) ? 'active' : '' } #{label}-btn" }
                  %input{type: 'radio', name: 'flashcard-sides', checked: (i == 0) ? true : '' }
                  = get_flashcard_label item, label      
      .card-body  
        .flashcard-sides.mt-5.mb-5.justify-content-center{ class: 'd-flex' }
          -order.each_with_index do |o, i|
            = eval("#{o}_view item, i")
      .card-footer
        .float-right
          = link_to "<span class='fa far fa-sync'></span>".html_safe, '#', class: 'btn-flip-flashcard'

  

  .row
    .col
      = link_to "NEXT<span class='btn-label btn-label-right'><i class='fa fa-arrow-right'></i></span>".html_safe, "#", class: 'btn btn-labeled btn-primary btn-md btn-sm next-card float-right'
