.list-group
  = link_to instructions_quiz_path(quiz.actable_id), class: 'list-group-item', 'data-turbolinks': "false" do
    .badge.badge-info.content-type-badge
      Quiz
    %table.wd-wide
      %tbody
        %tr
          %td.wd-xs
            .px-2
              = image_tag(quiz.image('square'), class: 'img-fluid rounded')
          %td
            .px-2
              %h4.mb-2
                = quiz.title
              %small.text-muted
                - description = quiz.description.present? ? quiz.description.html_safe : '--'
                = raw truncate(description, length: 111, omission: '... ')
          - if current_user.present?
            %td.wd-sm.d-none.d-lg-table-cell
              .px-2
                %p.m-0 Last Active
                %small.text-muted
                  = last_active quiz
            %td.wd-sm.d-none.d-lg-table-cell
              .px-2
                %p.m-0 Status
                %small.text-muted
                  = construct_string quiz
            %td.wd-xs
              .px-2
                - progress = show_progress quiz
                .progress-bar.progress-xs{ class: (progress < 50 ? 'bg-yellow' : 'bg-green' ), style: "width: #{progress}%" }
                  %span.sr-only
                    = "#{progress}%"
