.content-heading
	Build a Flashcard
	-if @viewed.present?
		.ml-auto
			= link_to 'Continue Previous Progress', build_flashcards_path(content_id: @content.id), class: 'btn btn-sm btn-warning', 'data-turbolinks': false

	

- if @content.present?
				
	= form_with(url: build_flashcards_path(content_id: @content.id), method: 'post') do |f|
		.form-group.col-md-6
			%h4 Number of flashcard items for each selected chapter
			= f.select :select, options_for_select(no_of_questions , nil), { include_blank: false }, { class: 'chosen-select form-control', 'data-placeholder': 'No of Flashcard Items' }
		.col-md-12.module-panel
			%h4.mt-4 Select chapters
			.h5 Select All
			%label.switch.switch-md
				= f.check_box 'modulee', { checked: false, class: 'checkAllFromModule' }, nil , nil
				%span
			
			.row
				- @content.children.each_with_index do |c, index|
					.form-group.col-md-6
						.input-group
							.input-group-prepend.w-100
								.input-group-text
									= f.check_box :chapters, { multiple: true, class: 'checkAllFromChapter' }, c.id , nil
								.card-header.w-100
									%span.float-left
										= c.title
				= f.submit "Submit", class: 'btn btn-md btn-primary'

- else
	No Record Found