.content-heading
  Products

  .ml-auto
    = link_to 'New Product', new_manage_product_path, class: 'btn btn-sm btn-success', 'data-turbolinks': false if can? :manage, @product

- if @products.present?
  .card.card-default
    .card-body
      .table-responsive
        %table.table.table-striped.table-hover
          %thead
            %tr
              %th Title
              %th
          %tbody
            - @products.each do |product|
              %tr
                %td= link_to product.title, manage_product_path(product), class: 'btn-link', 'data-turbolinks': false
                %td
                  .btn-group
                    %button.btn.btn-secondary{ type: 'button' } Action
                    %button.btn.dropdown-toggle.btn-secondary{ 'data-toggle': 'dropdown', type: 'button' }
                    .dropdown-menu.dropdown-menu-right{ role: 'menu' }
                      = link_to 'View', manage_product_path(product), class: 'dropdown-item' if can? :read, product
                      = link_to 'Edit', edit_manage_product_path(product), class: 'dropdown-item', 'data-turbolinks': false if can? :update, product
                      = link_to 'Destroy', manage_product_path(product), method: :delete, data: { confirm: 'Are you sure?' }, class: 'dropdown-item' if can? :destroy, product
                      .dropdown-divider
                      = link_to 'Manage Permissions', permissions_manage_product_path(product), class: 'dropdown-item', 'data-turbolinks': false if can? :update, product
- else
  %p.well No records found.

= link_to 'Back', dashboard_path, class: 'btn btn-sm btn-secondary'
= link_to 'New Product', new_manage_product_path, class: 'btn btn-sm btn-success', 'data-turbolinks': false if can? :manage, @product
