.content-heading
  = @product.title

  .ml-auto
    = link_to 'Add Module', new_manage_product_modulee_path(@product), class: 'btn btn-success' if can? :update, @product
    = link_to 'Edit Product', edit_manage_product_path(@product), class: 'btn btn-secondary', 'data-turbolinks': false if can? :update, @product
    %button.btn.btn-secondary.dropdown-toggle{"data-toggle": "dropdown", type: "button"} More Actions
    .dropdown-menu.dropdown-menu-right{role: "menu"}
      = link_to "View Assets", manage_product_product_assets_path(@product), class: 'dropdown-item' if can? :read, @product
      = link_to "Add an Asset", new_manage_product_product_asset_path(@product), class: 'dropdown-item' if can? :update, @product
      = link_to "Manage Permissions", permissions_manage_product_path(@product), class: 'dropdown-item', 'data-turbolinks': false if can? :update, @product

%div{ class: [('row sortable' if can? :update, Product), ('not-sortable' if cannot? :update, Product)] }
  - @contents.each do |content|
    %div{ "data-content-id": content.id, class: 'col-12' }
      = render partial: content.actable_type.downcase, object: content if can? :read, Content
%br

= link_to 'Back', manage_products_path, class: 'btn btn-secondary'
= link_to 'Edit Product', edit_manage_product_path(@product), class: 'btn btn-secondary', 'data-turbolinks': false if can? :update, @product
= link_to('Add Module', new_manage_product_modulee_path(@product), class: 'btn btn-success') if can? :update, @product
