.block-center.mt-4.wd-xl
  .card.card-flat
    .card-header.text-center.bg-dark
      %a{href: "/"}
        C3Suite
    .card-body
      %p.text-center.py-2 SIGN IN TO CONTINUE.

      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .form-group
          = f.label :email
          = f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Enter email', autocomplete: 'off', required: true
        .form-group
          = f.label :password
          = f.password_field :password, class: 'form-control', placeholder: 'Enter password', required: true
        - if devise_mapping.rememberable?
          .clearfix
            .checkbox.c-checkbox.float-left.mt-0
              %label
                %input{name: "remember", type: "checkbox", value: ""}
                = succeed "Remember Me" do
                  %span.fa.fa-check
        = f.submit "Sign In", class: 'btn btn-block btn-primary mt-3'
      .mt-3
        = render "devise/shared/links"

  = render 'layouts/partials/footer'
