-if (have_manageable_product? @product.id)  or  (can? :update, content.specific) 
  .float-right
    = link_to '<i class="fa fa-images"></i>'.html_safe, manage_content_content_assets_path(content), class: 'btn btn-secondary btn-xs'
    = link_to '<i class="fa fa-pencil-alt"></i>'.html_safe, public_send("edit_manage_product_#{content.actable_type.downcase}_path", product, content.actable_id, content_id: content.parent), class: 'btn btn-secondary btn-xs'
    = link_to '<i class="fa fa-times"></i>'.html_safe, public_send("manage_product_#{content.actable_type.downcase}_path", product, content.actable_id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-warning btn-xs'