- is_subscriber = (current_user.present? and UserSubscription.subscription_current?(current_user, @product))
.content-heading
  .container
    = @product.title

.col-xs-8.col-xs-offset-2.col-md-offset-3
  .container
    - if is_subscriber
      = render 'overview', { product: @product, subscription: true }
    - else
      = render 'overview', { product: @product, subscription: false }
      .row
        .col-md-3.col-sm-4.col-xs-12.mb-5
          .panel.panel-default.panel-body
            Subscribe Now
            %h3
              $
              = @product.price

          - if current_user
            %script{ src: 'https://js.stripe.com/v3' }
            %button.btn.btn-primary#checkout{ 'data-price': @product.stripe ? @product.stripe[:price_id] : '', 'data-key': ENV['STRIPE_PUBLISHABLE_KEY'] }
              Pay
          - else
            = link_to 'Sign In to Continue', new_user_session_path, class: 'btn btn-primary'

      - if @auditables.present?
        %h4.mt-4
          Audit this Product
        %p
          Audit this product for free and have limited access to selected parts of the product.
        %div.mt-3.mb-5
          - @auditables.each do |item|
            -if isTypeQuiz? item
              = link_to "Audit #{item.title}", audit_quiz_path(item), class: 'btn btn-primary', 'data-turbolinks': "false"
            -elsif isTypeFlashcard? item
              = link_to "Audit #{item.title}", audit_flashcard_path(item), class: 'btn btn-primary', 'data-turbolinks': "false"
            -else
              = link_to "Audit #{item.title}", content_path(item), class: 'btn btn-primary', 'data-turbolinks': "false"